<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function fn_add(){
	location.href="emp_add"
	
	
}

</script>
</head>
<body>
	<h1>EMP_LIST <br></h1>

	<table>
		<tr>
			<th>사번</th>
			<th>이름</th>
			<th>성별</th>
			<th>주소</th>
		</tr>
		{% for e in list %}
		<tr>
			<td><a href="emp_detail?e_id={{e.e_id}}">{{e.e_id}}</a></td>
			<td>{{e.e_name}}</td>
			<td>{{e.gen}}</td>
			<td>{{e.addr}}</td>
		</tr>
		{% endfor %}
	</table>
	<input type="button" onclick="fn_add()" value="추가">

</body>
</html>